<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>servlets.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListController</servlet-name>
        <servlet-class>servlets.ProductListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>servlets.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupController</servlet-name>
        <servlet-class>servlets.SignupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterController</servlet-name>
        <servlet-class>servlets.FilterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>servlets.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>servlets.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DescriptionController</servlet-name>
        <servlet-class>servlets.DescriptionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmCartController</servlet-name>
        <servlet-class>servlets.ConfirmCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinalController</servlet-name>
        <servlet-class>servlets.FinalController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreviousController</servlet-name>
        <servlet-class>servlets.PreviousController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingsController</servlet-name>
        <servlet-class>servlets.SettingsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateController</servlet-name>
        <servlet-class>servlets.CreateController</servlet-class>
        <init-param>
            <param-name>chemin</param-name>
            <param-value>/Users/cleme/Documents/NetBeansProjects/AdventureCity/web/image/</param-value>
        </init-param>
        <multipart-config>
            <location>C:\Users\cleme\Documents\NetBeansProjects\AdventureCity\web\image\</location>
            <max-file-size>10485760</max-file-size>
            <!-- 10 Mo -->
            <max-request-size>52428800</max-request-size>
            <!-- 5 x 10 Mo -->
            <file-size-threshold>1048576</file-size-threshold>
            <!-- 1 Mo -->
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>ChangeController</servlet-name>
        <servlet-class>servlets.ChangeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern> </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListController</servlet-name>
        <url-pattern>/ProductListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupController</servlet-name>
        <url-pattern>/SignupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterController</servlet-name>
        <url-pattern>/FilterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/CartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DescriptionController</servlet-name>
        <url-pattern>/DescriptionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmCartController</servlet-name>
        <url-pattern>/ConfirmCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinalController</servlet-name>
        <url-pattern>/FinalController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreviousController</servlet-name>
        <url-pattern>/PreviousController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingsController</servlet-name>
        <url-pattern>/SettingsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateController</servlet-name>
        <url-pattern>/CreateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeController</servlet-name>
        <url-pattern>/ChangeController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
